# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Backend build artifacts
backend/dist
backend/node_modules
backend/*.log
backend/coverage
backend/dist-test

# Frontend build artifacts
frontend/node_modules
frontend/*.log
frontend/coverage
